.vscode
.venv
data
sandbox
namelists
src/testprogs_data/fortran/.fcm-make

.dacecache/
.venv-prod/
.gt_cache/
src/ice3_gt4py/__pycache__/

*.pyc
src/ice3_gt4py/drivers/tests.py
src/ice3_gt4py/stencils/ice4*

*.log
*.sh
*.mod
