.vscode
.venv
.idea
.claude
.benchmarks/
.coverage
.dacecache/
.venv-prod/
.gt_cache/
.gt4py_cache/
.pytest_cache/
*/__pycache__/*
.idea/
_dacegraphs/
*.pyc
venv*
.venv*
.env

# Fortran legacy dependencies
external
namelists
fort.1

dwarf-p-ice3
dwarf_p_ice3.egg-info

# custom paths
src/ice3/cython_bindings
src/ice3/drivers/tests.py
src/ice3/stencils/ice4*
src/drivers/cffi_driver
src/ice3/stencils_fortran/ref
src/ice3/__pycache__/
src/PHYEX/
test/
test_OLD/
src/testprogs_data/fortran/
src/dwarf_ice3_gt4py.egg-info/
output/
dist/
src/testprogs_data/fortran/build
src/testprogs_data/fortran/.fcm-make
src/testprogs_data/main_ice_adjust
src/drivers/build
tests/functions/
tests/repro/
tests/stencils/
tests/utils/

# utilities
*.log
*.sh
!container/*.sh
*.mod
*.o
*.cfg
*.json

# Fortran builds
build/
data/