[project]
name = "dwarf-ice3-gt4py"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "cupy>=14",
    "fmodpy>=1.7.4",
    "fprettify>=0.3.7",
    "gt4py>=1.0.4",
    "numpy<2.0",
    "pytest>=8.3.5",
    "ruff>=0.10.0",
    "typer>=0.15.2",
]

[build-system]
build-backend = 'setuptools.build_meta'
requires = ['setuptools>=65.5.0', 'wheel']

[project.scripts]
testprogs-data = "testprogs_data.main:app"
standalone-model = "drivers.cli:app"

[dependency-groups]
dev = [
    "isort>=6.0.1",
    "prettify>=0.1.1",
]
gpu = [
    "cupy-xarray>=0.1.4",
]

[tool.uv.sources]
cupy = { git = "https://github.com/cupy/cupy.git", rev = "9e944d5d0bd2b6c62a152d49be000b14fb7e514c" }
gt4py = { path = "../gt4py", editable = true }
