[project]
name = "dwarf-ice3-gt4py"
version = "0.1.0"
description = "ICE3-GT4Py"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fmodpy>=1.7.4",
    "fprettify>=0.3.7",
    "ifs-physics-common",
    "numpy<2.0",
    "pytest>=8.3.5",
    "ruff>=0.10.0",
    "typer>=0.15.2",
]

[tool.uv.sources]
ifs-physics-common = { git = "https://github.com/stubbiali/ifs-physics-common.git" }

[build-system]
build-backend = 'setuptools.build_meta'
requires = ['setuptools>=65.5.0', 'wheel']

[dependency-groups]
dev = [
    "isort>=6.0.1",
    "prettify>=0.1.1",
    "pytest>=8.3.5",
]
