asttokens==2.4.1
attrs==25.3.0
black==25.9.0
boltons==25.0.0
cached-property==2.0.1
click==8.1.8
cmake==4.1.0
configargparse==1.7.1
cytoolz==1.0.1
deepdiff==8.6.1
devtools==0.12.2
executing==2.2.1
factory-boy==3.3.3
faker==37.12.0
fprettify==0.3.7
frozendict==2.4.6
gridtools-cpp==2.3.9
gt4py==1.0.4
isort==6.0.1
jinja2==3.1.6
lark==1.3.0
mako==1.3.10
markdown-it-py==3.0.0
markupsafe==3.0.3
mdurl==0.1.2
mypy-extensions==1.1.0
nanobind==2.9.2
ninja==1.13.0
numpy==1.26.4
orderly-set==5.5.0
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.4.0
pybind11==3.0.1
pygments==2.19.1
python-dateutil==2.9.0.post0
pytokens==0.1.10
pytz==2025.2
rich==13.9.4
ruff==0.11.11
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
tabulate==0.9.0
toolz==1.0.0
typer==0.15.2
typing-extensions==4.15.0
tzdata==2025.2
xarray==2025.4.0
xxhash==3.0.0
