# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
name: ci

on:
  push:
    branches:
      - dev

permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    env:
      UV_PYTHON: ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: uv sync --extra test
      
    - name: Unit reproducibility test
      run: uv run pytest tests/repro -m debug
      
    - name: Component reproducibility tests
      run: uv run pytest tests/components -m debug
      
    - name: CPU performance tests
      run: uv run pytest tests/components -m cpu
      
    - name: GPU performance tests
      run: uv run pytest pytest tests/components -m gpu
    
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV


      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs
      - run: pip install mkdocs-material
      - run: pip install mkdocstrings
      - run: pip install mkdocstrings-python


      - run: export PYTHONPATH=$PYTHONPATH:/home/runner/work/dwarf-p-ice3/dwarf-p-ice3/src && mkdocs gh-deploy --force
